.circular--square {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.center-mid{
  margin: 0 auto;
}

.sm-bottom-gutter{
  margin-bottom: 50px
}

.sm-top-gutter{
  margin-top: 50px;
}

.lg-top-gutter{
  margin-top: 50px;
}

#mainNav{
  position: fixed;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0E7290;    
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
footer{
  background-color: #212529;
}
footer a{
  color: #0085A1;
}
footer a:hover{
  color: #6c757d;
}
footer p.copyright{
  color: white !important;
}
@media only screen and (min-width: 992px)
{
  #mainNav.is-fixed{
    background-color: #212529;
  }
  #mainNav.is-fixed .navbar-brand, #mainNav.is-fixed .navbar-nav > li.nav-item > a{
    color: white;
  }
}
.text-underline{
  text-decoration: underline;
}
.text-bold{
  font-weight: bold;
}
.text-no-bold{
  font-weight: normal;
}
.icon-image{
  height: 60px;
  width: auto;
  padding: 5px 0 10px 0;
}
table.my-skills tr{
  border-bottom: 1px solid grey;
}
table.my-skills tr td:nth-of-type(1){
  text-align: center;
}
table.my-skills tr td:nth-of-type(3){
  text-align: left;
}
table.my-skills tr td:nth-of-type(2), table.my-skills tr th:nth-of-type(2){
  width: 250px;
  text-align: center;
  font-weight: bold;
}