---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | relative_url }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <div class="col-md-12">
          <h4>Moja čiara života</h4>
          <ul class="timeline">
            <li>
              <span class="text-bold">Moje narodenie <span class="text-no-bold">- Svidník</span></span>
              <span class="float-right">3. Október, 1996</span>
              <p>Narodil som sa ako prvé dieťa svojích rodičov vo Svidnickej nemocnici.</p>
            </li>
            <li>
              <span class="text-bold">Prvý deň v škôlke <span class="text-no-bold">- Vyšný Orlík</span></span>
              <span class="float-right">1. September, 1999</span>
              <p>Môj prvý veľký miľník, kedy som si povedal, že stačilo vylihovania v postieľke a idem si hľadať kamošov :D</p>
            </li>
            <li>
              <span class="text-bold">Prvý deň na základnej škole <span class="text-no-bold">- Svidník</span></span>
              <span class="float-right">1. September, 2003</span>
              <p>Trochu zmena oproti škôlke. To učenie mi ani tak nevadilo ale skôr to, že mi na hodine prvouky nechceli dovoliť spať.</p>
            </li>
            <li>
              <span class="text-bold">2. miesto na celoštátnej súťaži Expert <span class="text-no-bold">- Svidník</span></span>
              <span class="float-right">5. Apríl, 2011</span>
              <p>Súťaž Expert je celoštátna šúťaž v oblasti všeobecných znalosti a rozhľadu, otázky sú zamerané na dejepis, geografiu, prírodné vedy a predovšetkým na matematiku.</p>
            </li>
            <li>
              <span class="text-bold">Ukončenie základnej školy testovaním Monitor 9 <span class="text-no-bold">- Svidník</span></span>
              <span class="float-right">30. Jún, 2012</span>
              <p>Základnú školu som ukončil celoštátnym testovaním deviatakov Monitor 9. Na základe výsledokv sa ukázalo, že som bol spomedzi svojích spolužiakov najúspešnejší.</p>
            </li>
            <li>
              <span class="text-bold">Prvý deň na strednej škole <span class="text-no-bold">- Prešov</span></span>
              <span class="float-right">1. September, 2012</span>
              <p>Po ukončení základnej školy som študoval na <b>Strednej priemyselnej škole elektrotechnickej</b> v Prešove. Mojím študijným odborom boli <em>Informačné a sieťové texhnológie</em>. Štúdium bolo zamerané predovšetkým na sieťové technológie so štúdijnými osnavami Cisco CCNA. Okrem iného sa štúdium venovalo aj programovaniu v jazyku C, Java a webovému značkovaciemu jazyku HTML a kaskádovým štýlom CSS.</p>
            </li>
            <li>
              <span class="text-bold">Prvá pracovná ponuka v informatickom sektore <span class="text-no-bold">- Prešov</span></span>
              <span class="float-right">25. Marec, 2016</span>
              <p>Vo štvrtom ročníku na strednej škole sa mi podarilo získať prvú prácu v oblasti vývoja webových stránok. Ako prvú úlohu som dostal tvorbu prezentačnej stránky pre jednu nemenovanú spoločnosť ktorá sa zaoberá digitalizáciu analógových záznamov. Pri implementácii som použil dizajnový framework Bootstrap. Ako druhú úlohu som dostal kompletný vývoj webového portálu pre Prešovský futbalový klub FK SAFI. Pri implementácii bol tiež použitý dizajnový framework Bootstrap. Celé CMS som programoval sám, pomocou skriptovacieho jazyka PHP.</p>
            </li>
            <li>
              <span class="text-bold">3. miesto na krajskom kole slovenského pohára vo volejbale <span class="text-no-bold">- Stará ľubovňa</span></span>
              <span class="float-right">22. Máj, 2015</span>
              <p>Ako som uviedol na stránke <a href="{{"/about" | relative_url }}">O mne</a>, mojou vášňou je okrem iného aj šport. V mladosti som sa aktívne venoval volejbalu. Vo volejbale som so svojím tímom získal 3. miesto na krajskom kole slovenského pohára v Starej Ľubovni.</p>
            </li>
            <li>
              <span class="text-bold">Ukončenie strednej školy maturitným testovaním <span class="text-no-bold">- Prešov</span></span>
              <span class="float-right">31. Jún, 2016</span>
              <p>Strednú školu som úspešne ukončil maturitou. Maturoval som z angličtiny, slovenčiny a matematiky. Po ukončení strednej školy som sa stal držiteľom certifikátov <a href="https://www.ecdl.sk/">ECDL</a>, <a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna-routing-switching.html">Cisco CCNA 1, Cisco CCNA 3, Cisco CCNA 4</a>.</p>
            </li>
            <li>
              <span class="text-bold">Prvý deň na vysokej škole <span class="text-no-bold">- Bratislava</span></span>
              <span class="float-right">12. September, 2016</span>
              <p>Mojím najväčším miľníkom v živote sa stal nástup na vysokú školu. Začal som študovať ako pontencionálny bakalár na fakulte informatiky a informačných technológií (FIIT) slovenskej technickej univerzity. Štúdium sa z veľkej časti venovalo analýze a tvorbe algoritmov, návrhu softvéru a predovšetkým umelej inteligencii. Na vysokej škole som rozšíril svoje vedomosti v programovacích jazykoch assember, C, Java, Python, JavaScript, PHP a SQL.</p>
            </li>
            <li>
              <span class="text-bold">Prvý deň ako skutočný programátor <span class="text-no-bold">- Bratislava</span></span>
              <span class="float-right">14. Jún, 2017</span>
              <p>Po ukončení prvého ročníka na vysokej škole som sa zamestnal ako programátor v jednej rakúskej spoločnosti zvanej SalesXp. V tejto spoločnosti pracujem dodnes. Spoločnosť SalesXp sa venuje vývoju investičných portálov pre rakúske investičné spoločností. Moje zaradenie v pracovnom procese sa časom menilo. Začal som ako regulérny programátor. Kódil som dizajny pre eshopy a bankové investičné portály. S odstupom času som sa dostal k návrhu architektúr menších projektov, kde som mal za úlohu navrhnuť architektúry pre komplikované systémy ktoré nevyužívajú databázy alebo komunikujú s dátovym providerom len pomocou nejakých HTTP requestov. Aktuálne okrem návrhu a programovania pracujem aj ako serverový špecialista a starám sa o hladký chod nie len naších lokálnych Linux serverov ale tiež aj cloudových serverov poskytnutých službou AWS.</p>
            </li>
            <li>
              <span class="text-bold">Prihlásenie sa do súťaže IIT SRC 2019<span class="text-no-bold">- Bratislava</span></span>
              <span class="float-right">24. Január, 2019</span>
              <p>Napriek svojím predošlým skúsenostiam v oblasti vývoja webových aplikácií som sa rozhodol rozšíriť svoj rozhľad a začal som sa venovať umelej inteligencii. V rámci bakalárskej práce som sa rozhodol pre implementáciu syntetického gradientu v reziduálnych neurónových sieťach. Ide o modernú metódu trénovania neurónových sieti ktoré predstavujú akýsi model umelej inteligencie. Táto metóda bola navrhnutá spoločnosťou Google a doposiaľ nebola zdokumentovaná žiadna verejne dostupná implementácia tejto metódy na tak komplikované neurónové siete akými sú reziduálne siete. Túto prácu som si vybral ako výzvu pre seba a zatiaľ, sa mi ju malými krôčikmi darí napĺňať. S touto prácou som sa tiež prihlásil do súťaže IIT SRC 2019, kde súperím s podobne odvažnými prácami.</p>
            </li>
            <li>
              <span class="text-bold">Dnešok <span class="text-no-bold">- Bratislava</span></span>
              {% assign months = "Január|Február|Marec|Apríl|Máj|Jún|Júl|August|September|Október|November|ecember" | split: "|" %}
              {% assign m = "now" | date: "%-m" | minus: 1 %}
              {% assign day = "now" | date: "%-d" %}
              {% assign month = months[m] %}
              {% assign year = "now" | date: "%Y" %}
              <span class="float-right">{{day}}. {{month}}, {{year}}</span>
              <p>
                Dnes som:
                <ul>
                  <li>Študentom 3. ročníka bakalárského štúdia FIIT STU</li>
                  <li>Dobrovoľníkom a čestným členom občianského združenia YNET</li>
                  <li>Absolventom developerskej konferencie WebExpo a CodeCon</li>
                  <li>Nadšencom umelej inteligencie</li>              
                </ul>
              </p>
              <p>
                Dnes ovládam:
                <ul>
                  <li>plynule anglický jazyk</li>
                  <li>plynule český jazyk</li>
                  <li>začiatočnicky ruský jazyk</li>
                  <li>začiatočnicky poľský jazyky</li>
                </ul>
              </p>
              <p>
                Dnes mám znalosti z:
                <table class="my-skills">
                  <tr>
                    <th></th>
                    <th>jazyky/technológie</th>
                    <th>úroveň</th>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/php.svg" | relative_url }}"></td>
                    <td>php</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/python.png" | relative_url }}"></td>
                    <td>Python</td>
                    <td>stredne pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/js.png" | relative_url }}"></td>
                    <td>JavaScript</td>
                    <td>stredne pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/c.png" | relative_url }}"></td>
                    <td>C</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/java.png" | relative_url }}"></td>
                    <td>Java</td>
                    <td>začiatočník</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/html.png" | relative_url }}"></td>
                    <td>Html</td>
                    <td>expert</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/css.png" | relative_url }}"></td>
                    <td>Css</td>
                    <td>expert</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/sass.svg" | relative_url }}"></td>
                    <td>SASS</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/mysql.png" | relative_url }}"></td>
                    <td>MySQL</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/yii1.png" | relative_url }}"></td>
                    <td>Yii 1</td>
                    <td>začiatočník</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/yii2.png" | relative_url }}"></td>
                    <td>Yii 2</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/bootstrap.png" | relative_url }}"></td>
                    <td>Bootstrap</td>
                    <td>expert</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/typo3.png" | relative_url }}"></td>
                    <td>Typo3</td>
                    <td>začiatočník</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/magento2.png" | relative_url }}"></td>
                    <td>Magento 2</td>
                    <td>začiatočník</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/jekyll.png" | relative_url }}"></td>
                    <td>Jekyll</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/git.png" | relative_url }}"></td>
                    <td>Git</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/tensorflow.png" | relative_url }}"></td>
                    <td>Tensorflow</td>
                    <td>stredne pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/keras.png" | relative_url }}"></td>
                    <td>Keras</td>
                    <td>stredne pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/linux.png" | relative_url }}"></td>
                    <td>Linux</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/macos.png" | relative_url }}"></td>
                    <td>Mac OS</td>
                    <td>pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/windows.png" | relative_url }}"></td>
                    <td>Windows</td>
                    <td>noob</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/aws.png" | relative_url }}"></td>
                    <td>Amazon Web Service</td>
                    <td>stredne pokročilý</td>
                  </tr>
                  <tr>
                    <td><img class="icon-image" src="{{"/img/icons/msoffice.png" | relative_url }}"></td>
                    <td>Microsoft Office</td>
                    <td>expert</td>
                  </tr>
                </table>
              </p>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
